.hero {
  background: linear-gradient(105.55deg, #070707 0%, #000000 100.71%);
  position: relative;
}
.hero:after {
  content: "";
  position: absolute;
  display: block;
  background: url(../img/bg_pic.jpg) 50% 50%/contain no-repeat;
  top: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768.01px) {
  .hero:after {
    background: url(../img/bg_pic_mob.jpg) 50% 50%/contain no-repeat;
  }
}
.hero__container {
  position: relative;
  margin: 140px 0 180px;
  z-index: 1;
}
@media (max-width: 768.01px) {
  .hero__container {
    margin: 80px 0 100px;
  }
}
.hero__title {
  font-size: 72px;
  font-weight: 500;
  line-height: 0.85;
  color: #B2EFFF;
  max-width: 600px;
  padding-top: 78px;
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 54px;
  }
}
.hero__subtitle {
  font-weight: normal;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #FDD395;
  max-width: 400px;
  padding-top: 15px;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    font-size: 16px;
  }
}
.hero .loop {
  top: 45px;
}
.hero .logo {
  max-width: 100%;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}
.form__name {
  background: rgba(255, 255, 255, 0.6);
  height: 47px;
  min-width: 260px;
  border: none;
  padding: 13px 23px;
  width: 550px;
  text-transform: capitalize;
  color: #27303B;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  outline: none;
}
@media screen and (max-width: 1120px) {
  .form__name {
    width: 100%;
    max-width: 600px;
  }
}
.form__name::placeholder {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #27303B;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
}
.form__name.error {
  border: 2px solid #ee290f;
  color: #ee290f;
}
.form__name.error::placeholder {
  color: #ee290f;
}
.form__email {
  background: rgba(255, 255, 255, 0.6);
  height: 47px;
  min-width: 260px;
  border: none;
  padding: 13px 23px;
  width: 550px;
  text-transform: capitalize;
  color: #27303B;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  outline: none;
  margin-top: 15px;
}
@media screen and (max-width: 1120px) {
  .form__email {
    width: 100%;
    max-width: 600px;
  }
}
.form__email.error {
  border: 2px solid #ee290f;
  color: #ee290f;
}
.form__email.error::placeholder {
  color: #ee290f;
}
.form__email::placeholder {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #27303B;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
}
.form__textarea {
  background: rgba(255, 255, 255, 0.6);
  min-width: 260px;
  border: none;
  padding: 13px 23px;
  width: 550px;
  color: #27303B;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  outline: none;
  resize: none;
  min-height: 100px;
  height: auto;
  margin-top: 15px;
}
@media screen and (max-width: 1120px) {
  .form__textarea {
    width: 100%;
    max-width: 600px;
  }
}
.form__textarea.error {
  border: 2px solid #ee290f;
  color: #ee290f;
}
.form__textarea.error::placeholder {
  color: #ee290f;
}
.form__textarea::placeholder {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #27303B;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
}
.form__btn {
  margin-top: 15px;
  min-width: 120px;
  color: #1A1F23;
  font-size: 15px;
  line-height: 1.3;
  padding: 12px 0;
  background-color: #4DC0A4;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
}
.form__btn:hover {
  cursor: pointer;
  background-color: #67c9b1;
}

.block-arch {
  position: relative;
  background-color: #000000;
}
.block-arch__container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.block-arch .loop, .block-arch .loop-bg {
  top: 187px;
}
.block-arch .logo-big {
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 80px 0 50px;
  margin: 0 -20px;
}
@media (max-width: 478.01px) {
  .block-arch .logo-big {
    width: 110%;
  }
}
.block-arch .arch {
  position: relative;
  height: auto;
  max-width: 100%;
  top: -250px;
}
@media screen and (max-width: 850px) {
  .block-arch .arch {
    left: 0;
    top: -160px;
  }
}

.box-block {
  margin-top: -260px;
  background: url(../img/bg-box-bg.jpg) 0 0/cover no-repeat;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 850px) {
  .box-block {
    margin-top: -170px;
    height: 300px;
  }
}
.box-block .loop {
  padding: 200px 0 0;
}
@media (max-width: 478.01px) {
  .box-block .loop {
    padding: 180px 0 0;
  }
}
.box-block__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.box-block__img {
  position: absolute;
  top: -250px;
  left: calc(60% - 575px);
  max-width: 100%;
  height: auto;
}
@media (max-width: 992.01px) {
  .box-block__img {
    left: 0;
  }
}
@media screen and (max-width: 550px) {
  .box-block__img {
    top: -50%;
  }
}
@media screen and (max-width: 380px) {
  .box-block__img {
    top: -20%;
  }
}

.loop {
  display: flex;
  align-items: center;
  flex-direction: row;
  animation: loop 30s linear infinite;
  width: 100%;
  position: absolute;
  height: 35px;
  left: -35vw;
}
.loop-bg {
  display: flex;
  align-items: center;
  flex-direction: row;
  animation: loop 30s linear infinite;
  width: 100%;
  position: absolute;
  height: 35px;
  left: -35vw;
  z-index: 9;
}
.loop-bg .loop__item > svg {
  opacity: 0;
}
.loop__item {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 35px;
}
.loop__item--hero {
  background-color: #69E0FF;
}
.loop__item--orange {
  background-color: #FFC982;
}
.loop__item--orange p {
  z-index: 3;
  position: relative;
}
.loop__item--orange svg path {
  fill: #F2FFC7;
}
.loop__item--green {
  background-color: #60EBC5;
}
.loop__item--green p {
  z-index: 3;
  position: relative;
}
.loop__item--green svg path {
  fill: #FFFAF2;
}
.loop__item p {
  display: block;
  width: 100%;
  min-width: 300px;
  margin: 0 12px;
}
.loop__item svg {
  width: 16.5px;
  height: 16.5px;
  overflow: visible;
  margin: 0 12px;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2187px);
  }
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/
body {
  color: #27303B;
  overflow-x: hidden;
  width: 100%;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 835px;
  margin: 0 auto;
}
@media (max-width: 847px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 992.01px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 768.01px) {
  ._container {
    max-width: none;
    padding: 0 30px;
  }
}

.page {
  flex: 1 1 auto;
}

/*# sourceMappingURL=style.css.map */
